
:root{
	/* Paleta de colores */
	/* var(--); */
	--morado: #584364;
	--rosado: #9b7280;
	--azul: #3C7A89;
	--amarillo: #ddb967;
	--verde: #8eab58;
	--negro: #1A1613;
	
}
body {
	background-color:var(--morado);
}

#divsuperior{
	position: fixed;
	height: 10%;
	width: 99%;
	text-align:center;
	padding:0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#divsuperior Button{
	background-color:var(--rosado);
	border: 0px;
	margin-left:1%;
	margin-right:1%;
	width: 15%;
	height:40%;
	border-radius: 50px;
	font-size:20px;
}
#divsuperior Button:hover{
	background-color: var(--amarillo);
	border: 2px solid var(--azul);
}
#divsuperior Button:focus{
	outline: 0;
	border: 2px solid var(--amarillo);
}

