:root{
	/* Paleta de colores */
	/* var(--); */
	--morado: #584364;
	--rosado: #9b7280;
	--azul: #3C7A89;
	--amarillo: #ddb967;
	--verde: #8eab58;
	--negro: #1A1613;
	
}
body {
	background-color:var(--morado);
}
a {
	text-decoration: none;
	color: var(--negro);
}
iframe{
	border: 0px;
}

#divsuperior{
	position: fixed;
	height: 10%;
	width: 99%;
	text-align:center;
	padding:0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#divsuperior Button{
	background-color:var(--rosado);
	border: 0px;
	margin-left:1%;
	margin-right:1%;
	width: 15%;
	height:40%;
	border-radius: 50px;
	font-size:20px;
}
#divsuperior Button:hover{
	background-color: var(--amarillo);
	border: 2px solid var(--azul);
}
#divsuperior Button:focus{
	outline: 0;
	border: 2px solid var(--amarillo);
}

#icontenido {
	position: fixed;
	top: 10%;
	width: 99%;
	height: 90%;
	padding: 0px;
	margin: 0px;
}

/* Estilo pagina personaje */
.personaje {
	position: relative;
	align-items: center;
	display: inline;
}
/*Para el tamaño automático de las imágenes en el div*/
.characters {
	display: block;
	margin: auto;
	max-width: inherit;
	max-height: inherit;
}
.silueta{
	float: left;
	display: flex;
	align-items: center;
}
.overlaySilueta{
	display: flex;
	align-items: center;
	opacity: 0;
	transition: ease;
	background-color: var(--morado);
}
.silueta:hover .overlaySilueta {
	opacity: 1;
}

.descripcion{
	float: left;
	display: flex;
	align-items: center;
	margin-left: 0.5%;
	padding-left: 2%;
}

/* Estilo de paginas centradas*/
.pagcenter {
	justify-content: center;
	align-items: center;
}

/* Estilo pagina El juego */
#dchar {
	text-align: center;	
}
#iconoschar {
	justify-content: center;
	align-items: center;
}

/* Estilos mundo y niveles */

#bllanura{
	background: url("Imagenes/bllanura.png") no-repeat;
	width: auto;
	height: auto;
}
#framechar{
	width: 50%;
	border: 1px var(--azul);
}
#framemundo{
	width: 50%;
	border: 1px var(--azul);
}
#dmundo {
	justify-content: center;
	align-items: center;
}
#dmundo Button{
	border: 0px;
	margin; 0px;
	
}
